pkgbase = vidcom
	pkgdesc = Archive your videos
	pkgver = 0.83
	pkgrel = 1
	url = https://github.com/seja-arctic-fox/vidcom
	arch = x86_64
	license = GPL-3.0-only
	makedepends = meson
	makedepends = ninja
	depends = gtkmm-4.0
	depends = libadwaita
	depends = jsoncpp
	depends = ffmpeg

pkgname = vidcom
